---
layout : default
title  : Vince Knight
---

<div class="home">
    <h1>Lab Sheets</h1>
    <ul>
    {% for page in site.pages %}
        {% if page.categories contains 'labsheets' %}
        <li><a href={{ page.url | prepend: site.baseurl }}>{{ page.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>

    <h1><a href='{{site.baseurl}}/Assessment'>Assessment</a></h1>


    <h1>Class Wiki</h1>
    <p>The wiki for this class can be found <a href='https://github.com/drvinceknight/Computing_for_mathematics/wiki'>here</a>.
</div>
