---
layout : default
title  : "Past handouts"
---

<div class="home">

    <h1>Current</h1>

    <ul>
    {% for page in site.pages %}
        {% if page.categories contains 'handouts' %}
        <li><a href={{ page.url | prepend: site.baseurl }}>{{ page.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
    <h1>2013-2014</h1>
    <ul>

    {% for page in site.pages %}
        {% if page.categories contains '2013-2014' %}
        <li><a href={{ page.url | prepend: site.baseurl }}>{{ page.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>

</div>
